### Database Engineering

In [81]:
import numpy as np
import pandas as pd

In [82]:
from sqlalchemy import create_engine, inspect

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

In [86]:
clean_hawaii_measurements = pd.read_csv('clean_hawaii_measurements.csv')
revised_clean_hawaii_measurements = clean_hawaii_measurements[['station', 'date', 'prcp', 'tobs']]
revised_clean_hawaii_measurements.tail(10)

           station        date  prcp  tobs
18093  USC00516128  2017-08-10  0.07    75
18094  USC00516128  2017-08-12  0.14    74
18095  USC00516128  2017-08-14  0.22    79
18096  USC00516128  2017-08-15  0.42    70
18097  USC00516128  2017-08-16  0.42    71
18098  USC00516128  2017-08-17  0.13    72
18099  USC00516128  2017-08-19  0.09    71
18100  USC00516128  2017-08-21  0.56    76
18101  USC00516128  2017-08-22  0.50    76
18102  USC00516128  2017-08-23  0.45    76

In [71]:
clean_hawaii_stations = pd.read_csv('clean_hawaii_stations.csv')
revised_clean_hawaii_stations = clean_hawaii_stations[['station', 'name', 'latitude', 'longitude', 'elevation']]
revised_clean_hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [72]:
engine = create_engine('sqlite:///hawaii.sqlite')
conn = engine.connect()

In [73]:
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Float)

In [74]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [75]:
Base.metadata.create_all(conn)

In [76]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [77]:
# List of Hawaii Measurements
hawaii_measurements_station = []
hawaii_measurements_date = []
hawaii_measurements_prcp = []
hawaii_measurements_tobs = []

for row in range(revised_clean_hawaii_measurements.shape[0]):
    hawaii_measurements_station.append(revised_clean_hawaii_measurements['station'][row])
    hawaii_measurements_date.append(revised_clean_hawaii_measurements['date'][row])
    hawaii_measurements_prcp.append(revised_clean_hawaii_measurements['prcp'][row])
    hawaii_measurements_tobs.append(revised_clean_hawaii_measurements['tobs'][row])

In [78]:
for x in range(len(hawaii_measurements_station)):
    measurement = Measurement(station=hawaii_measurements_station[x], date=hawaii_measurements_date[x], prcp=hawaii_measurements_prcp[x], tobs=hawaii_measurements_tobs[x])
    session.add(measurement)
    session.commit()

In [79]:
# List of Hawaii Stations
hawaii_stations_station = []
hawaii_stations_name = []
hawaii_stations_latitude = []
hawaii_stations_longitude = []
hawaii_stations_elevation = []

for row in range(revised_clean_hawaii_stations.shape[0]):
    hawaii_stations_station.append(revised_clean_hawaii_stations['station'][row])
    hawaii_stations_name.append(revised_clean_hawaii_stations['name'][row])
    hawaii_stations_latitude.append(revised_clean_hawaii_stations['latitude'][row])
    hawaii_stations_longitude.append(revised_clean_hawaii_stations['longitude'][row])
    hawaii_stations_elevation.append(revised_clean_hawaii_stations['elevation'][row])

In [80]:
for y in range(len(hawaii_stations_station)):
    station = Station(station=hawaii_stations_station[y], name=hawaii_stations_name[y], latitude=hawaii_stations_latitude[y], longitude=hawaii_stations_longitude[y], elevation=hawaii_stations_elevation[y])
    session.add(station)
    session.commit()