### Data Exploration and Engineering

In [2]:
import numpy as np
import pandas as pd

In [3]:
hawaii_measurements = pd.read_csv('hawaii_measurements.csv')
hawaii_measurements.tail(10)

           station        date  prcp  tobs
19540  USC00516128  2017-08-14  0.22    79
19541  USC00516128  2017-08-15  0.42    70
19542  USC00516128  2017-08-16  0.42    71
19543  USC00516128  2017-08-17  0.13    72
19544  USC00516128  2017-08-18   NaN    76
19545  USC00516128  2017-08-19  0.09    71
19546  USC00516128  2017-08-20   NaN    78
19547  USC00516128  2017-08-21  0.56    76
19548  USC00516128  2017-08-22  0.50    76
19549  USC00516128  2017-08-23  0.45    76

In [4]:
hawaii_stations = pd.read_csv('hawaii_stations.csv')
hawaii_stations

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

### Missing Values
##### Missing Values - Hawaii Measurements

In [7]:
missing_values_measurements = hawaii_measurements.isnull().sum() / hawaii_measurements.shape[0]
missing_values_measurements

station    0.000000
date       0.000000
prcp       0.074015
tobs       0.000000
dtype: float64

##### Since prcp only has roughly 7% of its data missing (aka NaN), I decided to just drop the rows which contain NaNs.

In [8]:
clean_hawaii_measurements = hawaii_measurements.dropna(how='any')
clean_hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

##### Missing Values - Hawaii Stations

In [9]:
missing_values_stations = hawaii_stations.isnull().sum() / hawaii_stations.shape[0]
missing_values_stations

station      0.0
name         0.0
latitude     0.0
longitude    0.0
elevation    0.0
dtype: float64

##### No changes were necessary, so I will just add the prefix 'clean_' per the homework directions

In [10]:
clean_hawaii_stations = hawaii_stations

### Creating 'Clean' CSV Files

In [11]:
clean_hawaii_measurements.to_csv('clean_hawaii_measurements.csv')

In [12]:
clean_hawaii_stations.to_csv('clean_hawaii_stations.csv')