### Data Exploration and Engineering

In [1]:
import numpy as np
import pandas as pd

In [2]:
hawaii_measurements = pd.read_csv('hawaii_measurements.csv')
hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [6]:
hawaii_stations = pd.read_csv('hawaii_stations.csv')
hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

### Missing Values
##### Missing Values - Hawaii Measurements

In [7]:
missing_values_measurements = hawaii_measurements.isnull().sum() / hawaii_measurements.shape[0]
missing_values_measurements

station    0.000000
date       0.000000
prcp       0.074015
tobs       0.000000
dtype: float64

##### Since prcp only has roughly 7% of its data missing (aka NaN), I decided to just drop the rows which contain NaNs.

In [8]:
clean_hawaii_measurements = hawaii_measurements.dropna(how='any')
clean_hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

##### Missing Values - Hawaii Stations

In [9]:
missing_values_stations = hawaii_stations.isnull().sum() / hawaii_stations.shape[0]
missing_values_stations

station      0.0
name         0.0
latitude     0.0
longitude    0.0
elevation    0.0
dtype: float64

##### No changes were necessary, so I will just add the prefix 'clean_' per the homework directions

In [10]:
clean_hawaii_stations = hawaii_stations

### Creating 'Clean' CSV Files

In [11]:
clean_hawaii_measurements.to_csv('clean_hawaii_measurements.csv')

In [12]:
clean_hawaii_stations.to_csv('clean_hawaii_stations.csv')